body {
  background-color: #191919;
  color: white;
  overflow: initial;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd42a;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

button {
  margin-top: 1.5rem;
  background-color: #d32f2f;
  border-radius: 0.5rem;
  padding: 0.7rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
  cursor: pointer;
  display: inline-flex;
}
button a {
  color: white;
  text-decoration: none;
  width: 100%;
}

#content-infos {
  margin-top: 2rem;
}
#content-infos img {
  width: 85%;
  border-radius: 0.5rem;
}
#content-infos .infos-event {
  text-align: center;
  margin-top: 1.2rem;
  width: 85%;
}
#content-infos .infos-event h1 {
  font-size: 2rem;
}
#content-infos .infos-event h1 span {
  color: #FFC107;
  text-transform: uppercase;
}
#content-infos .infos-event p {
  font-size: 1.3rem;
  margin-top: 1rem;
}
#content-infos .infos-event p span {
  color: #FFC107;
  text-transform: uppercase;
  font-weight: 600;
}

#more-infos-imersao hgroup,
#more-infos-imersao p,
#more-infos-imersao ul {
  width: 85%;
}
#more-infos-imersao hgroup {
  border-top: 2px solid #B89C72;
  margin-top: 3rem;
}
#more-infos-imersao hgroup h2 {
  color: #FFC107;
  text-transform: uppercase;
  width: 85%;
  margin: 2rem auto 0 auto;
}
#more-infos-imersao hgroup h3 {
  width: 85%;
  margin: 0.7rem auto 0 auto;
}
#more-infos-imersao p {
  margin-top: 1.5rem;
  font-size: 1.15rem;
  text-align: justify;
}
#more-infos-imersao #container-cards-goals {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  height: 9rem;
  width: 90%;
  overflow-x: scroll;
}
#more-infos-imersao #container-cards-goals .card-goal {
  border: 0.0625rem solid gray;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  margin: 0 1.4rem;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}
#more-infos-imersao #container-cards-goals .card-goal h4 {
  margin: 0.5rem 0;
}
#more-infos-imersao #container-cards-goals .card-goal :hover {
  border-color: #FFC107;
  transition: 0.5s;
}
#more-infos-imersao #container-cards-goals :nth-child(1) {
  border-color: #FFC107;
}
#more-infos-imersao #container-content-cards-goals {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal h4:not(.number-principle) {
  color: #FFC107;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal hgroup {
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .number-principle {
  font-size: 2rem;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .principle-of {
  width: 50%;
  font-size: 1.5rem;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal h4 {
  margin-right: auto;
  margin-left: 7.5%;
}
#more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal p {
  margin-top: 0;
}

#prices h2 {
  text-transform: uppercase;
  color: #FFC107;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#prices .initial-price {
  text-decoration: line-through;
  font-size: 1.5rem;
  margin-top: 2rem;
}
#prices p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  width: 50%;
  margin-top: 1rem;
}
#prices p span {
  color: #FFC107;
}
#prices .limit-times {
  font-size: 1rem;
  font-weight: initial;
  text-transform: initial;
}
#prices .bt-prices {
  width: 60%;
}
#prices .legend-prices {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  width: 60%;
}

#ofert-of-month-woman h2 {
  text-transform: uppercase;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#ofert-of-month-woman .bt-ofert {
  width: 60%;
}
#ofert-of-month-woman #about-flavia {
  margin-top: 10%;
}
#ofert-of-month-woman #about-flavia img {
  width: 16rem;
  border-radius: 0.5rem;
}
#ofert-of-month-woman #about-flavia .infos-flavia {
  display: flex;
  flex-direction: column;
}
#ofert-of-month-woman #about-flavia .infos-flavia h2 {
  border: none;
  padding-top: 0;
}
#ofert-of-month-woman #about-flavia .infos-flavia p {
  font-size: 1.2rem;
  width: 85%;
  margin: 1rem auto 0 auto;
  line-height: 2rem;
}

#event-for {
  margin-top: 2rem;
}
#event-for h2 {
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  width: 85%;
}
#event-for video {
  border-radius: 0.5rem;
  width: 90%;
  margin-top: 5rem;
}

#event-localization {
  align-items: start;
}
#event-localization h2 {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: left;
  color: #FFC107;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#event-localization .localization {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  font-size: 1.2rem;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 1rem;
}
#event-localization .localization p {
  margin: 0.3rem 0;
}
#event-localization .localization p span {
  color: #FFC107;
  font-weight: 600;
  text-transform: uppercase;
}

#guarantee figure {
  width: 85%;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 2rem auto 0 auto;
}
#guarantee figure img {
  width: 7.5rem;
  color: red;
}
#guarantee figure figcaption {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0.4rem;
}
#guarantee h3 {
  margin: 1rem 0;
  font-size: 1.6rem;
  width: 85%;
}
#guarantee p {
  width: 85%;
  font-size: 1.1rem;
}
#guarantee p span {
  font-weight: 400;
}

#questions {
  text-align: center;
}
#questions h2 {
  text-transform: uppercase;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#questions .dropdown {
  width: 80%;
  border-radius: 0.5rem;
  border: 0.0625rem solid #FFC107;
  background-color: transparent;
  margin: 0.7rem 0;
  font-size: 1.42rem;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#questions .dropdown .res {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  line-height: 2.2rem;
  height: 18rem;
  animation: accordion 0.15s linear;
  padding-bottom: 1rem;
}
#questions :nth-child(2) {
  margin-top: 2rem;
}

footer strong {
  display: flex;
  text-align: center;
  width: 75%;
  margin: 1rem auto;
}

#networks nav {
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#networks nav ul {
  display: flex;
  justify-content: center;
}
#networks nav ul li {
  margin: 0 1rem;
  list-style-type: none;
}
#networks nav ul li a img {
  width: 2rem;
}

@keyframes accordion {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    height: 4.5rem;
    opacity: 0;
  }
  50% {
    height: 9rem;
    opacity: 0;
  }
  75% {
    height: 13.5rem;
    opacity: 0;
  }
  100% {
    height: 18rem;
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  button {
    padding: 0.9rem;
    font-size: 2.2rem;
  }
  #content-infos img {
    width: 80%;
  }
  #content-infos .infos-event {
    margin-top: 3.2rem;
  }
  #content-infos .infos-event h1 {
    font-size: 3rem;
  }
  #content-infos .infos-event p {
    font-size: 2.2rem;
    margin-top: 1rem;
    line-height: 3.5rem;
  }
  #content-infos .infos-event button {
    width: 70%;
    margin: 4rem 0;
  }
  #more-infos-imersao hgroup h2 {
    font-size: 2.5rem;
  }
  #more-infos-imersao hgroup h3 {
    font-size: 2.3rem;
  }
  #more-infos-imersao p {
    font-size: 2.2rem;
    margin-top: 1rem;
    line-height: 3.5rem;
  }
  #more-infos-imersao ul {
    font-size: 2.2rem;
  }
  #more-infos-imersao #container-cards-goals {
    height: 10rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal {
    width: 30%;
  }
  #more-infos-imersao #container-cards-goals .card-goal h4 {
    font-size: 1.5rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .principle-result {
    font-size: 1.5rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .number-principle {
    font-size: 3.5rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .principle-of {
    width: 55%;
    font-size: 3rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal h4 {
    margin-right: auto;
    margin-left: 7.5%;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal .principle-result {
    font-size: 1.5rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal p {
    margin-top: 0;
  }
  #prices h2 {
    font-size: 2.5rem;
  }
  #prices span {
    font-size: 2.2rem;
  }
  #prices p {
    font-size: 2.2rem;
  }
  #prices .limit-times {
    font-size: 1.3rem;
  }
  #prices .legend-prices {
    font-size: 1.3rem;
  }
  #ofert-of-month-woman h2 {
    font-size: 2.5rem;
  }
  #ofert-of-month-woman #about-flavia img {
    width: 30rem;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia p {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  #event-for h2 {
    font-size: 2.5rem;
  }
  #event-for video {
    margin-top: 4rem;
  }
  #event-localization h2 {
    font-size: 2.5rem;
  }
  #event-localization .localization {
    font-size: 2.2rem;
  }
  #guarantee figure img {
    width: 11.5rem;
  }
  #guarantee figure figcaption {
    font-size: 2.4rem;
  }
  #guarantee h3 {
    font-size: 2rem;
  }
  #guarantee p {
    font-size: 2rem;
  }
  #questions h2 {
    font-size: 2.5rem;
  }
  #questions .dropdown {
    font-size: 2rem;
  }
  #networks nav ul li a img {
    width: 3rem;
  }
  strong {
    justify-content: center;
    font-size: 1.3rem;
  }
  #modal-goal .content-modal button {
    width: 9%;
    height: 3rem;
    font-size: 1.5rem;
  }
  #modal-goal .content-modal p {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
}
@media only screen and (min-width: 1200px) {
  button {
    padding: 0.7rem;
    font-size: 1.6rem;
  }
  #content-infos {
    flex-direction: row;
    justify-content: space-around;
  }
  #content-infos img {
    width: 35%;
    height: 30rem;
  }
  #content-infos .infos-event {
    width: 50%;
    margin-top: 0;
  }
  #content-infos .infos-event h1 {
    font-size: 2.4rem;
    width: 80%;
    margin: 0 auto;
  }
  #content-infos .infos-event p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  #more-infos-imersao {
    align-items: center;
  }
  #more-infos-imersao hgroup {
    border-top: 0;
  }
  #more-infos-imersao hgroup h2 {
    font-size: 2.1rem;
  }
  #more-infos-imersao hgroup h3 {
    font-size: 1.5rem;
  }
  #more-infos-imersao p {
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.5rem;
  }
  #more-infos-imersao #container-cards-goals {
    height: 10rem;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }
  #more-infos-imersao #container-cards-goals .card-goal {
    width: 10%;
    height: 50%;
    cursor: pointer;
    padding: 1rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal img {
    width: 3.3rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal h4 {
    font-size: 1.1rem;
  }
  #more-infos-imersao #container-content-cards-goals {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3%;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal {
    width: 25vw;
    margin: 0 1rem;
    justify-content: center;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup {
    width: 100%;
    justify-content: initial;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .principle-result {
    font-size: 1rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .number-principle {
    font-size: 1.8rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .principle-of {
    font-size: 1.5rem;
    width: initial;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal {
    margin-right: auto;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal h4 {
    margin-right: auto;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal .principle-result {
    font-size: 1.2rem;
    margin-left: 0;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal p {
    text-align: left;
    margin-right: auto;
    margin-top: 0;
    font-size: 1rem;
    line-height: 2rem;
  }
  #prices h2 {
    font-size: 2.1rem;
    border-top: 0;
    margin-top: 5rem;
  }
  #prices .bt-prices {
    width: 30%;
  }
  #ofert-of-month-woman h2 {
    font-size: 2.1rem;
    border-top: 0;
  }
  #ofert-of-month-woman .bt-ofert {
    width: 30%;
  }
  #ofert-of-month-woman #about-flavia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8%;
  }
  #ofert-of-month-woman #about-flavia img {
    width: 20rem;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia {
    width: 50%;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia h2 {
    margin-top: 0;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia p {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
  #event-for h2 {
    border-top: 0;
    margin: 5rem 0;
  }
  #event-localization h2 {
    font-size: 2.1rem;
  }
  #event-localization .localization {
    font-size: 1.4rem;
  }
  #guarantee figure img {
    width: 7.5rem;
  }
  #guarantee figure figcaption {
    font-size: 2.1rem;
  }
  #guarantee h3 {
    font-size: 1.7rem;
  }
  #guarantee p {
    font-size: 1.4rem;
  }
  #questions h2 {
    font-size: 2.1rem;
  }
  #questions .dropdown {
    font-size: 1.4rem;
    width: 40%;
  }
  #networks nav ul li a img {
    width: 2rem;
  }
  strong {
    font-size: 1rem;
  }
  #modal-goal .content-modal {
    height: 90vh;
  }
  #modal-goal .content-modal button {
    width: 5%;
    font-size: 1.5rem;
    margin-top: 3%;
    margin-right: 3%;
  }
}
@media only screen and (min-width: 1600px) {
  button {
    width: 65%;
  }
  #content-infos img {
    width: 30%;
    height: 35rem;
  }
  #content-infos .infos-event h1 {
    font-size: 3rem;
    width: 80%;
  }
  #content-infos .infos-event p {
    font-size: 1.6rem;
  }
  #content-infos .infos-event button {
    margin-top: 3rem;
  }
  #more-infos-imersao {
    align-items: center;
    margin-top: 5rem;
  }
  #more-infos-imersao hgroup {
    border: none;
  }
  #more-infos-imersao hgroup h2 {
    font-size: 2.6rem;
  }
  #more-infos-imersao hgroup h3 {
    font-size: 1.8rem;
  }
  #more-infos-imersao p,
  #more-infos-imersao ul {
    font-size: 1.6rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal {
    width: 10%;
    height: 60%;
    cursor: pointer;
    padding: 1rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal img {
    width: 3.3rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal h4 {
    font-size: 1.1rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .principle-result {
    font-size: 1.3rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .number-principle {
    font-size: 3rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal hgroup .principle-of {
    font-size: 2rem;
  }
  #more-infos-imersao #container-content-cards-goals .content-card-goal .description-content-card-goal p {
    font-size: 1.5rem;
  }
  #prices {
    margin-top: 5rem;
  }
  #prices h2 {
    font-size: 2.6rem;
    border: none;
  }
  #prices .bt-prices {
    width: 40%;
  }
  #ofert-of-month-woman {
    margin-top: 5rem;
  }
  #ofert-of-month-woman h2 {
    font-size: 2.6rem;
    border: none;
  }
  #ofert-of-month-woman .bt-ofert {
    width: 30%;
  }
  #ofert-of-month-woman #about-flavia {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  #ofert-of-month-woman #about-flavia img {
    width: 25rem;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia {
    width: 50%;
    margin-top: 3%;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia p {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  #event-for h2 {
    padding-top: 5rem;
  }
  #event-localization {
    align-items: center;
    margin-top: 5rem;
  }
  #event-localization h2 {
    font-size: 2.6rem;
    text-align: center;
  }
  #event-localization .localization {
    font-size: 1.6rem;
    width: 30%;
  }
  #guarantee figure img {
    width: 9.5rem;
  }
  #guarantee figure figcaption {
    font-size: 2.6rem;
  }
  #guarantee h3 {
    font-size: 1.8rem;
  }
  #guarantee p {
    font-size: 1.6rem;
  }
  #questions h2 {
    font-size: 2.6rem;
    border: none;
  }
  #questions .dropdown {
    font-size: 1.6rem;
    width: 30%;
  }
  #networks nav ul li a img {
    width: 3rem;
  }
  strong {
    font-size: 1.3rem;
  }
  #modal-goal .content-modal {
    width: 50vw;
  }
  #modal-goal .content-modal button {
    width: 5%;
    height: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */