body {
  background-color: #5b5049;
  color: white;
  overflow: initial;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd42a;
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 1.5rem;
  background-color: #ff4707;
  border-radius: 0.5rem;
  padding: 0.7rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  width: 90%;
  cursor: pointer;
  display: inline-flex;
}
button a {
  color: white;
  text-decoration: none;
  width: 100%;
}

#content-infos {
  margin-top: 2rem;
}
#content-infos img {
  width: 85%;
  border-radius: 0.5rem;
}
#content-infos .infos-event {
  text-align: center;
  margin-top: 1.2rem;
  width: 85%;
}
#content-infos .infos-event h1 {
  font-size: 2rem;
}
#content-infos .infos-event h1 span {
  color: #B89C72;
  text-transform: uppercase;
}
#content-infos .infos-event p {
  font-size: 1.3rem;
  margin-top: 1rem;
}
#content-infos .infos-event p span {
  color: #FFC107;
  text-transform: uppercase;
  font-weight: 600;
}

#more-infos-imersao hgroup,
#more-infos-imersao p,
#more-infos-imersao ul {
  width: 85%;
}
#more-infos-imersao hgroup {
  border-top: 2px solid #B89C72;
  margin-top: 3rem;
}
#more-infos-imersao hgroup h2 {
  color: #FFC107;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 85%;
  margin: 2rem auto 0 auto;
}
#more-infos-imersao hgroup h3 {
  width: 85%;
  margin: 0.7rem auto 0 auto;
}
#more-infos-imersao p {
  margin-top: 1.5rem;
  font-size: 1.15rem;
  text-align: justify;
}
#more-infos-imersao #container-cards-goals {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  height: 9rem;
  width: 90%;
  overflow-x: scroll;
}
#more-infos-imersao #container-cards-goals .card-goal {
  background-color: #b89c72;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0.5rem;
  margin: 0 1.4rem;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#more-infos-imersao #container-cards-goals .card-goal h4 {
  margin: 0.5rem 0;
}

#prices h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #FFC107;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#prices .initial-price {
  text-decoration: line-through;
  font-size: 1.5rem;
  margin-top: 2rem;
}
#prices p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  width: 50%;
  margin-top: 1rem;
}
#prices p span {
  color: #FFC107;
}
#prices .limit-times {
  font-size: 1rem;
  font-weight: initial;
  text-transform: initial;
}
#prices .bt-prices {
  width: 60%;
}
#prices .legend-prices {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  width: 60%;
}

#ofert-of-month-woman h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#ofert-of-month-woman .bt-ofert {
  width: 80%;
}
#ofert-of-month-woman #about-flavia {
  margin-top: 10%;
}
#ofert-of-month-woman #about-flavia img {
  width: 16rem;
  border-radius: 0.5rem;
}
#ofert-of-month-woman #about-flavia .infos-flavia {
  display: flex;
  flex-direction: column;
}
#ofert-of-month-woman #about-flavia .infos-flavia h2 {
  border: none;
  padding-top: 0;
}
#ofert-of-month-woman #about-flavia .infos-flavia p {
  font-size: 1.2rem;
  width: 85%;
  margin: 1rem auto 0 auto;
  line-height: 2rem;
}

#event-for {
  margin-top: 2rem;
}
#event-for h2 {
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  width: 85%;
}
#event-for video {
  border-radius: 0.5rem;
  width: 90%;
}

#event-localization {
  align-items: start;
}
#event-localization h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: left;
  color: #FFC107;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#event-localization .localization {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  font-size: 1.2rem;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 1rem;
}
#event-localization .localization p {
  margin: 0.3rem 0;
}
#event-localization .localization p span {
  color: #FFC107;
  font-weight: 600;
  text-transform: uppercase;
}

#guarantee figure {
  width: 85%;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 2rem auto 0 auto;
}
#guarantee figure img {
  width: 7.5rem;
  color: red;
}
#guarantee figure figcaption {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0.4rem;
}
#guarantee h3 {
  margin: 1rem 0;
  font-size: 1.6rem;
  width: 85%;
}
#guarantee p {
  width: 85%;
  font-size: 1.1rem;
}
#guarantee p span {
  font-weight: 400;
}

#questions {
  text-align: center;
}
#questions h2 {
  font-size: 2rem;
  text-transform: uppercase;
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#questions .dropdown {
  width: 80%;
  border-radius: 0.5rem;
  background-color: #B89C72;
  margin: 0.7rem 0;
  font-size: 1.42rem;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#questions .dropdown .res {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  margin-top: 1rem;
  line-height: 2.2rem;
}
#questions .dropdown ol {
  width: 80%;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 1rem;
  line-height: 2.2rem;
}
#questions .dropdown ol li {
  list-style-type: none;
  margin: 1rem 0;
}
#questions :nth-child(2) {
  margin-top: 2rem;
}

footer strong {
  display: flex;
  text-align: center;
  width: 75%;
  margin: 1rem auto;
}

#networks nav {
  border-top: 2px solid #B89C72;
  padding-top: 2rem;
  margin: 3rem auto 0 auto;
  width: 85%;
}
#networks nav ul {
  display: flex;
  justify-content: center;
}
#networks nav ul li {
  margin: 0 1rem;
  list-style-type: none;
}
#networks nav ul li a img {
  width: 2rem;
}

#modal-goal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.674);
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-goal .content-modal {
  height: 70vh;
  width: 85vw;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #5b5049;
  box-shadow: rgba(9, 9, 9, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(220, 220, 220, 0.25) 0px 12px 13px, rgba(220, 220, 220, 0.25) 0px -3px 5px;
  text-align: center;
  overflow-y: scroll;
}
#modal-goal .content-modal button {
  width: 6%;
  height: 0.5rem;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B89C72;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 5.5% 6% 0 auto;
  font-size: 1rem;
}
#modal-goal .content-modal p {
  width: 75%;
  margin-top: 10%;
  font-size: 1.05rem;
  line-height: 2.2rem;
}

@media only screen and (min-width: 768px) {
  button {
    padding: 0.9rem;
    font-size: 2.2rem;
  }
  #content-infos img {
    width: 80%;
  }
  #content-infos .infos-event {
    margin-top: 3.2rem;
  }
  #content-infos .infos-event h1 {
    font-size: 3rem;
  }
  #content-infos .infos-event p {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
  #more-infos-imersao hgroup h2 {
    font-size: 2.5rem;
  }
  #more-infos-imersao hgroup h3 {
    font-size: 2.3rem;
  }
  #more-infos-imersao p {
    font-size: 2.2rem;
  }
  #more-infos-imersao ul {
    font-size: 2.2rem;
  }
  #more-infos-imersao #container-cards-goals {
    height: 10rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal {
    width: 30%;
  }
  #more-infos-imersao #container-cards-goals .card-goal h4 {
    font-size: 1.5rem;
  }
  #prices h2 {
    font-size: 2.5rem;
  }
  #prices span {
    font-size: 2.2rem;
  }
  #prices p {
    font-size: 2.2rem;
  }
  #prices .limit-times {
    font-size: 1.3rem;
  }
  #prices .legend-prices {
    font-size: 1.3rem;
  }
  #ofert-of-month-woman h2 {
    font-size: 2.5rem;
  }
  #ofert-of-month-woman #about-flavia img {
    width: 30rem;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia p {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  #event-for h2 {
    font-size: 2.5rem;
  }
  #event-for video {
    margin-top: 4rem;
  }
  #event-localization h2 {
    font-size: 2.5rem;
  }
  #event-localization .localization {
    font-size: 2.2rem;
  }
  #guarantee figure img {
    width: 11.5rem;
  }
  #guarantee figure figcaption {
    font-size: 2.4rem;
  }
  #guarantee h3 {
    font-size: 2rem;
  }
  #guarantee p {
    font-size: 2rem;
  }
  #questions h2 {
    font-size: 2.5rem;
  }
  #questions .dropdown {
    font-size: 2rem;
  }
  #networks nav ul li a img {
    width: 3rem;
  }
  strong {
    justify-content: center;
    font-size: 1.3rem;
  }
  #modal-goal .content-modal button {
    width: 9%;
    height: 3rem;
    font-size: 1.5rem;
  }
  #modal-goal .content-modal p {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
}
@media only screen and (min-width: 1200px) {
  button {
    padding: 0.7rem;
    font-size: 1.6rem;
  }
  #content-infos {
    flex-direction: row;
    justify-content: space-around;
  }
  #content-infos img {
    width: 35%;
    height: 30rem;
  }
  #content-infos .infos-event {
    width: 50%;
    margin-top: 0;
  }
  #content-infos .infos-event h1 {
    font-size: 2.4rem;
    width: 80%;
    margin: 0 auto;
  }
  #content-infos .infos-event p {
    font-size: 1.4rem;
  }
  #more-infos-imersao {
    align-items: center;
  }
  #more-infos-imersao hgroup h2 {
    font-size: 2.1rem;
  }
  #more-infos-imersao hgroup h3 {
    font-size: 1.5rem;
  }
  #more-infos-imersao p,
  #more-infos-imersao ul {
    font-size: 1.4rem;
    text-align: center;
  }
  #more-infos-imersao #container-cards-goals {
    height: 15rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal {
    width: 25%;
    cursor: pointer;
  }
  #more-infos-imersao #container-cards-goals .card-goal img {
    width: 6rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal h4 {
    font-size: 1.8rem;
  }
  #prices h2 {
    font-size: 2.1rem;
  }
  #ofert-of-month-woman h2 {
    font-size: 2.1rem;
  }
  #ofert-of-month-woman .bt-ofert {
    width: 50%;
  }
  #ofert-of-month-woman #about-flavia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8%;
  }
  #ofert-of-month-woman #about-flavia img {
    width: 20rem;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia {
    width: 50%;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia h2 {
    margin-top: 0;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia p {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
  #event-localization h2 {
    font-size: 2.1rem;
  }
  #event-localization .localization {
    font-size: 1.4rem;
  }
  #guarantee figure img {
    width: 7.5rem;
  }
  #guarantee figure figcaption {
    font-size: 2.1rem;
  }
  #guarantee h3 {
    font-size: 1.7rem;
  }
  #guarantee p {
    font-size: 1.4rem;
  }
  #questions h2 {
    font-size: 2.1rem;
  }
  #questions .dropdown {
    font-size: 1.4rem;
    width: 40%;
  }
  #networks nav ul li a img {
    width: 2rem;
  }
  strong {
    font-size: 1rem;
  }
  #modal-goal .content-modal {
    height: 90vh;
  }
  #modal-goal .content-modal button {
    width: 5%;
    font-size: 1.5rem;
    margin-top: 3%;
    margin-right: 3%;
  }
}
@media only screen and (min-width: 1600px) {
  button {
    width: 65%;
  }
  #content-infos img {
    width: 30%;
    height: 35rem;
  }
  #content-infos .infos-event h1 {
    font-size: 3rem;
    width: 80%;
  }
  #content-infos .infos-event p {
    font-size: 1.6rem;
  }
  #content-infos .infos-event button {
    margin-top: 3rem;
  }
  #more-infos-imersao {
    align-items: center;
    margin-top: 5rem;
  }
  #more-infos-imersao hgroup {
    border: none;
  }
  #more-infos-imersao hgroup h2 {
    font-size: 2.6rem;
  }
  #more-infos-imersao hgroup h3 {
    font-size: 1.8rem;
  }
  #more-infos-imersao p,
  #more-infos-imersao ul {
    font-size: 1.6rem;
  }
  #more-infos-imersao #container-cards-goals {
    height: 15rem;
    justify-content: center;
    margin-top: 5%;
  }
  #more-infos-imersao #container-cards-goals .card-goal {
    width: 20%;
  }
  #more-infos-imersao #container-cards-goals .card-goal img {
    width: 6rem;
  }
  #more-infos-imersao #container-cards-goals .card-goal h4 {
    font-size: 1.7rem;
  }
  #prices {
    margin-top: 5rem;
  }
  #prices h2 {
    font-size: 2.6rem;
    border: none;
  }
  #prices .bt-prices {
    width: 40%;
  }
  #ofert-of-month-woman {
    margin-top: 5rem;
  }
  #ofert-of-month-woman h2 {
    font-size: 2.6rem;
    border: none;
  }
  #ofert-of-month-woman .bt-ofert {
    width: 30%;
  }
  #ofert-of-month-woman #about-flavia {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  #ofert-of-month-woman #about-flavia img {
    width: 25rem;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia {
    width: 50%;
    margin-top: 3%;
  }
  #ofert-of-month-woman #about-flavia .infos-flavia p {
    font-size: 1.6rem;
    line-height: 3rem;
  }
  #event-for h2 {
    padding-top: 5rem;
  }
  #event-localization {
    align-items: center;
    margin-top: 5rem;
  }
  #event-localization h2 {
    font-size: 2.6rem;
    text-align: center;
  }
  #event-localization .localization {
    font-size: 1.6rem;
    width: 30%;
  }
  #guarantee figure img {
    width: 9.5rem;
  }
  #guarantee figure figcaption {
    font-size: 2.6rem;
  }
  #guarantee h3 {
    font-size: 1.8rem;
  }
  #guarantee p {
    font-size: 1.6rem;
  }
  #questions h2 {
    font-size: 2.6rem;
    border: none;
  }
  #questions .dropdown {
    font-size: 1.6rem;
    width: 30%;
  }
  #networks nav ul li a img {
    width: 3rem;
  }
  strong {
    font-size: 1.3rem;
  }
  #modal-goal .content-modal {
    width: 50vw;
  }
  #modal-goal .content-modal button {
    width: 5%;
    height: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */